<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Ritesh's Blog</h1></a>
            <p>A Normal Site</p>
        </div>
        <u1>
            <li><a href="/webpages">Blogs/Websites</a></li>
            <li><a href="/about">About The current Webpage</a></li>
            <li><a href="/blogs/create">Create New Blog</a></li>
        </u1>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>

</body>
</html>